<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="mform" novalidate>
      <mat-form-field appearance="standard" class="full-width">
        <mat-label>Coin Name</mat-label>
        <input matInput placeholder="Coin Name" formControlName="name">
        <mat-error *ngIf="isFieldInvalid('name') && isErrorRequired('name')">Name is required</mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="standard" class="full-width">
        <mat-label>Coin Price</mat-label>
        <input matInput placeholder="Coin Price" formControlName="price">
        <mat-error *ngIf="isFieldInvalid('price') && isErrorRequired('price')">Price is required</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="updateCoin()" [disabled]="isFormInvalid()">Update</button>
  </mat-card-actions>
</mat-card>